body {
    background-color: #F2E9E4;
  }
.container {
    margin: 100px;
    text-align: center;
  }
.row{
    border: 1px solid #FF6F61;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    background-color: #A09AB7;
    padding: 20px;
}
h4{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 28px;
  color: #333;
}
label{
  font-size: 20px;
}

