body {
    background-color: #d3caca;
  }
  
  .container {
    margin: 100px;
    text-align: center;
    
  }
  .row{
    border: 1px solid orange;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    background-color: #f0e9e9;
  }
  
  h4 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
  }
  .form-group{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .form-group label {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    margin: auto 0;
  }
  
  .form-group input {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .btn-primary {
    background-color: #ff9900;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  .text-danger{
    font-size: 16px;
    color: red;
    margin-top: 5px;
  }
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
  }
  
  .alert-danger {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
  }
  
  a {
    color: #ff9900;
    font-size: 18px;
    text-decoration: none;
  }
  form{
    padding: 10px 0;
  }
